/* VÁRIAVEIS */

:root {
    --primary-color: #E5E5E5;
    --secondary-color: #EAF2FD;
    --black-color: #464646;
    --white-color: #FFFFFF;
    --fonte-base: "Poppins", sans-serif;
    --peso-fino: 200;
    --peso-grosso: 500;
    
}

/* DEFAULT */


* {
    font-family: var(--fonte-base);
    margin: 0;
}

header,
body,
footer {
    background-color: var(--primary-color);
}
  

/* HEADER */

.header-superior {
    display: flex;
    justify-content: space-between;
    margin: 2em 5em;
}

.header-superior-links ul {
    list-style-type: none; 
    display: flex; 
    gap: 2em;
}

.header-superior-links a {
    text-decoration: none;
    color: var(--black-color);
    transition: all 0.3s ease; /* Transição suave */
}

.header-superior-links a:hover {
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho */
}


.header-main {
    display: flex;
    gap: 10em;
    justify-content: center;
    align-items: center;
    padding: 8em;
}

.header-main-content {
    display: flex;
    flex-direction: column;
    width: 45em;
    gap: 1em;
    justify-content: center;
}

.header-main-content-descricao {
    font-weight: var(--peso-fino);
}

.header-main-content-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3em;
    gap: 6em;
}

.header-main-content-links a {
    text-decoration: none;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 0.8em;
    border-radius: 1.8em;
    transition: all 0.3s ease; 
}

.header-main-content-links a:hover {
    background-color: var(--white-color);
    transform: scale(1.02); 
    color: var(--black-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.icone-imagem {
    width: 20em; 
    height: 20em;
    border-radius: 50%; 
    object-fit: cover; 
}


/* MAIN */

/* SOBRE MIM */
.main-about {
    background-color: var(--secondary-color);
    padding: 4em;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2em;
}

.main-title,
.main-paragrafo {
    background-color: var(--secondary-color);
}

.main-assinatura {
    margin-left: 1em;
    width: 12em;
}

/* SKILLS */

.main-skills {
    padding: 2em;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-skills-content {
    display: flex;
    padding: 3em;
    flex-direction: row;
    gap: 3em;
    flex-wrap: wrap;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-item img {
    width: 60px; 
    height: 60px;
    background-color: var(--white-color); 
    padding: 1.5em;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: fill;
}

.skill-item figcaption {
    margin-top: 1em;
    font-size: 1.1em; 
    color: var(--black-color); 
    text-align: center; 
}

/* HOBBIES */
.main-hobbies {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-hobbies-content {
    display: flex;
    padding: 3em;
    flex-direction: row;
    gap: 2em;
    flex-wrap: wrap;
}

.hobbies-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.hobbies-item img {
    width: 60px; 
    height: 60px;
    background-color: var(--white-color); 
    padding: 1.5em;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: fill;
}

.hobbies-item figcaption {
    margin-top: 1em;
    font-size: 1.1em; 
    color: var(--black-color); 
    text-align: center; 
}

/* FORMAÇÃO */
.main-formacao {
    background-color: var(--secondary-color);
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4em;
}

.main-formacao-titulo {
    margin-top: 2em;
}

.main-formacao-content {
    display: flex;
    padding: 1em;
    flex-direction: row;
    gap: 5em;
    flex-wrap: wrap;
    margin-bottom: 5em;
}

.formacao-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formacao-item img {
    width: 15em; 
    height: 15em;
    background-color: var(--white-color); 
    padding: 1.5em;
    border-radius: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: contain;
}

.formacao-item figcaption {
    margin-top: 2em;
    font-size: 1.1em; 
    color: var(--black-color); 
    text-align: center; 
    width: 17em;
}


/* PROJETOS */

.main-projetos {
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.main-projetos-titulo {
    margin-bottom: 2em;
}

.main-projetos-content {
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
}

.projeto-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 16em; /* Tamanho do card */
    text-align: center;
    background-color: var(--white-color); 
    padding: 1em;
    border-radius: 0.7em; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease; 
}

.projeto-item:hover {
    transform: scale(1.04); 
}

.projeto-item img {
    width: 100%; 
    height: auto;
    border-radius: 0.5em;
    object-fit: cover;
    background-color: var(--white-color);
}


.projeto-item figcaption h3 {
    margin-top: 0.8em;
    font-size: 1.2em;
    color: var(--black-color);
    font-weight: var(--peso-grosso);
    background-color: var(--white-color);
    padding: 0.2em;
}

.projeto-item figcaption p {
    font-size: 0.9em;
    color: var(--black-color);
    margin-top: 0.5em;
    line-height: 1.5;
    background-color: var(--white-color);
    width: 95%;
    padding: 0.4em;
}

/* CONTATO */
/* Estilização da seção de contato */
.main-contato {
    padding: 3em;
    background-color: var(--secondary-color);
    margin: 0;
    padding-bottom: 7em;
}

.main-contato h2 {
    margin-bottom: 2em;
    text-align: center;
}

.formulario-contato {
    display: flex;
    flex-wrap: wrap;
    width: 80em;
    margin: 0 auto;
}

.contato-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 2em;
}

.contato-box-left,
.contato-box-right,
.contato-box-submit {
    flex: 1;
    min-width: 250px; /* Ajusta o tamanho mínimo para garantir responsividade */
    padding: 1em;
}

.formulario-contato label {
    font-size: 1.1em;
    color: var(--cor-preta);
    margin-top: 1em;
    display: flex;
}

.formulario-contato input {
    width: 100%;
    padding: 0.6em;
    border: 1px solid var(--cor-cinza);
    border-radius: 5px;
    font-size: 1em;
    margin-top: 0.5em;
}

.formulario-contato textarea {
    width: 30em;
    height: 76%;
    padding: 0.6em;
    border: 1px solid var(--cor-cinza);
    border-radius: 5px;
    font-size: 1em;
    margin-top: 0.5em;
}

/* Botão de enviar */
.contato-box-submit {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-right: 2em;
}

.formulario-contato button {
    padding: 1em 2em;
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
}

.formulario-contato button:hover {
    background-color: black;
}

/* FOOTER */

.rodape {
    background-color: var(--black-color);
    margin: 0;
    color: var(--primary-color); 
    text-align: center; 
    padding: 1em;
    margin: 0;
}

.rodape-linha {
    width: 75%; 
    height: 1px; 
    background-color: var(--secondary-color); 
    margin: 0 auto;
    margin-bottom: 2em; 
    margin-top: 2em;
}

.rodape-texto {
    letter-spacing: 0.5em;
    font-size: 0.8em;
    font-weight: var(--peso-fino);
    padding-bottom: 2em;
}

/* TELA PARA TABLET */
@media (max-width: 768px) {
    .header-superior {
        display: flex;
        justify-content: center;
        margin-left: 1em;
    }

    .header-superior-logo {
        display: none;
    }
    .link-oculto {
        display:none;
    }

    .header-main {
        flex-direction: column; /* Alinha os itens em coluna */
        gap: 2em; /* Reduz o espaço entre os elementos */
        padding: 2em; /* Ajusta o padding */
    }

    .header-main-content {
        width: 100%; /* Ajusta a largura para ocupar a tela inteira */
        text-align: center; /* Centraliza o texto */
    }

    .header-main-content-links {
        flex-direction: row; /* Mantém os links horizontais */
        gap: 1em; /* Ajusta o espaçamento entre os links */
        margin-top: 2em; /* Ajusta a margem superior */
    }

    .icone-imagem {
        margin-bottom: 2em; /* Move a imagem para cima, acima do texto */
        width: 20em; /* Mantém o tamanho da imagem */
        height: 20em; /* Mantém a altura da imagem */
    }
    .formulario-contato {
        width: 100%;
        flex-direction: column;
    }

    .contato-box {
        flex-direction: column;
        gap: 1em;
    }

    .contato-box-left, 
    .contato-box-right, 
    .contato-box-submit {
        width: 100%; /* Cada parte ocupa 100% da largura */
        min-width: auto; /* Remove o tamanho mínimo para melhor ajuste em telas pequenas */
        padding: 0;
    }

    .formulario-contato textarea {
        width: 100%; /* Garantir que o textarea ocupe toda a largura */
        height: auto; /* Ajuste automático da altura */
    }

    .contato-box-submit {
        justify-content: center;
        margin-right: 0;
        margin-top: 1.5em; /* Distância entre o botão e os campos */
    }

    .formulario-contato button {
        width: 100%; /* Botão ocupará toda a largura da coluna */
        padding: 1em; /* Ajuste do padding para mais conforto no toque */
    }

    .main-hobbies-content {
        display: flex;
        justify-content: center;
    }

    .main-skills-content {
        display: flex;
        justify-content: center;
    }

}
/* TELA PARA CELULAR */

@media (max-width: 480px) {
    .header-main {
        padding: 1em; /* Ajusta ainda mais o padding */
    }
    .link-oculto {
        display:none;
    }
    .header-main-content {
        width: 90%; /* Ajusta a largura para ser um pouco menor */
    }

    .icone-imagem {
        margin-bottom: 1em; /* Ajusta o espaçamento acima da imagem */
        width: 20em; /* Mantém o tamanho da imagem */
        height: 20em; /* Mantém a altura da imagem */
    }

    .main-hobbies-content {
        display: flex;
        justify-content: center;
    }

    .main-skills-content {
        display: flex;
        justify-content: center;
    }
}

